<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main" ng-app="myList" ng-controller="myListController">
        <h1>To Do List</h1>
        <div class="addItem">
            <input ng-model = "newItem" placeholder="Add Item" class="addText">
            <button ng-click="pushItem()">Add</button>
        </div>
        <ul>
            <li ng-repeat="i in items">
                {{i}}
                <span ng-click="deleteItem($index)">x</span>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>