.main {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #d7d7d7;
    margin-top: 20px;
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color: rgb(32, 174, 174);
    padding: 30px 0px;
    margin-top: 0px;
}
ul{
    list-style: none;
    font-size: 20px;
    color: #686868;
    margin-left: -40px;
    margin-bottom: 0px;
}
li{
    background-color: #f4f4f4;
    padding: 10px 0px;
    margin-bottom: 5px;
}li span{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
}
.addItem {
    position: relative;
    padding-bottom: 0px;
    height: 30px;
}

